.word {
    float: left;
    border: 1px solid black;
    padding: 2px 4px 2px 4px;
    margin: 3px;
    cursor: grab;
    background-color: white;
    box-shadow: 1px 1px grey;
    user-select: none;
    box-sizing: border-box;
    font-variant-ligatures: no-common-ligatures;
}

#words {
    height: 1200px;
    padding: 5px;
    width: 400px;
    margin-left: 20px;
    margin-top: 300px;
    /* position: fixed; */
}

#rightBox {
    float: left;
    /* height: 700px; */
    width: 600px;
    /* border: 1px solid black; */
    /* background-image: url('fridge.png');
    object-fit: cover; */
    background-color: #EEEEEE;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;

}

#main {
    /* padding: 20px; */
    display: table;
    clear: both;
    /* margin: auto; */
}

#search-form {
    /* padding-bottom: 20px;
    padding-top: 20px; */
    margin: auto;
}

#search-word {
    padding: 5px;
    width: 180px;
    margin: auto;
    border-radius: 5px;
    border: 0 none;
    height: 15px;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border: 0 none;
    cursor: pointer;
    border-radius: 5px; 
    width: 180px;
    margin: auto;
}

#controls {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    margin: auto;
}
