html, body{
   padding: 0;
   margin: 0;
}

html {
    background-color: #2BB7C9;
}

.word {
    float: left;
    border: 1px solid black;
    padding: 2px 4px 2px 4px;
    margin: 4px;
    cursor: grab;
    background-color: white;
    box-shadow: 1px 1px grey;
    user-select: none;
    box-sizing: border-box;
    font-variant-ligatures: no-common-ligatures;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
}

#words {
    /* height: 1200px; */
    padding: 6px;
    width: 400px;
    margin-left: 5px;
    margin-top: 260px;
    /* position: fixed; */
}

#rightBox {
    float: left;
    /* height: 700px; */
    width: 600px;
    /* border: 1px solid black; */
    /* background-image: url('fridge.png');
    object-fit: cover; */
    /* background-color: #EEEEEE; */
    border-radius: 6px;
    padding: 10px;
    margin: 10px;

}

#main {
    /* padding: 20px; */
    display: table;
    clear: both;
    /* top: 0px; */
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 98vw;
    height: 98vh;
    border-radius: 5px;
    /* position: absolute; */
    z-index: -1;
    /* box-sizing: border-box; */
    background-color: #fffee8;
}

#search-form {
    /* padding-bottom: 20px;
    padding-top: 20px; */
    margin: auto;
    /* padding: 2px; */
}


form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#search-word {
    padding: 5px;
    width: 180px;
    margin: 5px;
    border-radius: 5px;
    border: 0 none;
    height: 15px;
    outline: none;
}

#custom-word {
    padding: 5px;
    width: 180px;
    margin: 5px;
    border-radius: 5px;
    border: 0 none;
    height: 15px;
    outline: none;
}

#search-button {
    padding: 6px 15px; 
    background:#2BB7C9; 
    outline:#2BB7C9; 
    border: 0 none;
    cursor: pointer;
    border-radius: 5px; 
    width: 180px;
    margin: auto;
    /* outline: none; */
    color: white;
    font-size: 10pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#custom-button {
    padding: 6px 15px; 
    background:#2BB7C9; 
    outline:#2BB7C9; 
    border: 0 none;
    cursor: pointer;
    border-radius: 5px; 
    width: 180px;
    margin: auto;
    /* outline: none; */
    color: white;
    font-size: 10pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#custom-button:hover {
    background: #258e9c
}

#search-button:hover {
    background: #258e9c
}

#controls {
    position: absolute;
    top: 20px;
    left: 25px;
    background-color: #FE4A48;
    padding-left: 10px;
    padding-bottom: 30px;
    border-radius: 5px;
    width: 648px;
    height: 215px;
    margin: auto;
    /* display: inline-block; */
    float: left;
}

#word-controls {
    width: 390px;
    /* border-right: 1px solid white; */
    padding: 10px;
    float: left;
}


#style-controls {
    position: absolute;
    /* top: 20px; */
    left: 425px;
    width: 390px;
    border-left: 1px solid white;
    padding: 10px;
    padding-left: 20px;
    float: left;
    height: 225px;
}


h2 {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
}
h3 {
    margin-top: 10px;
    margin-bottom: 36px;
    margin-left: 5px;
    font-size: 16pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
}

p {
    margin-left: 5px;
    font-weight: 200;
    color: white;
}

p a {
    text-decoration: none;
    font-weight: 500;
    color: yellow;
}

p a:hover {
    text-decoration: underline;
}

/* Dropdown Button */
.dropbtn {
    margin-top: 8px;
    background-color: #2BB7C9;
    width: 180px;
    border-radius: 5px;
    height: 27px;
    color: white;
    padding: 6px 15px; 
    margin-left: 5px;
    border: none;
    font-size: 10pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 180px;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 5px;
}

#magnet-color-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 180px;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 5px;
}

#text-color-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 180px;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 5px;
}

/* Links inside the dropdown */
.dropdown-content div {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: 10pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    user-select: none;
}

.dropdown-content div:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #258e9c;}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 180px;
    height: 32px;
    margin: none;
    box-sizing: border-box;
}
/* input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
} */
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.color-square {
    min-width: 20px;
    min-height: 20px;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: inline-block;
    text-align: center;
    margin-top: 3px;
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.2);
}

.font-size {
    font-family: 'Times New Roman', Times, serif;
}