html, body{
   padding: 0;
   margin: 0;
}

html {
    background-color: #2BB7C9;
}

.word {
    float: left;
    border: 1px solid black;
    padding: 2px 4px 2px 4px;
    margin: 3px;
    cursor: grab;
    background-color: white;
    box-shadow: 1px 1px grey;
    user-select: none;
    box-sizing: border-box;
    font-variant-ligatures: no-common-ligatures;
}

#words {
    /* height: 1200px; */
    padding: 6px;
    width: 400px;
    margin-left: 5px;
    margin-top: 260px;
    /* position: fixed; */
}

#rightBox {
    float: left;
    /* height: 700px; */
    width: 600px;
    /* border: 1px solid black; */
    /* background-image: url('fridge.png');
    object-fit: cover; */
    /* background-color: #EEEEEE; */
    border-radius: 6px;
    padding: 10px;
    margin: 10px;

}

#main {
    /* padding: 20px; */
    display: table;
    clear: both;
    /* top: 0px; */
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 98vw;
    height: 98vh;
    border-radius: 5px;
    /* position: absolute; */
    z-index: -1;
    /* box-sizing: border-box; */
    background-color: #fffee8;
}

#search-form {
    /* padding-bottom: 20px;
    padding-top: 20px; */
    margin: auto;
    /* padding: 2px; */
}


form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#search-word {
    padding: 5px;
    width: 180px;
    margin: 5px;
    border-radius: 5px;
    border: 0 none;
    height: 15px;
    outline: none;
}

#custom-word {
    padding: 5px;
    width: 180px;
    margin: 5px;
    border-radius: 5px;
    border: 0 none;
    height: 15px;
    outline: none;
}

input[type=submit] {
    padding: 6px 15px; 
    background:#2BB7C9; 
    outline:#2BB7C9; 
    border: 0 none;
    cursor: pointer;
    border-radius: 5px; 
    width: 180px;
    margin: auto;
    /* outline: none; */
    color: white;
    font-size: 10pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#controls {
    position: absolute;
    top: 20px;
    left: 25px;
    background-color: #FE4A48;
    padding: 10px;
    border-radius: 5px;
    width: 390px;
    margin: auto;
}

h2 {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
}

p {
    margin-left: 5px;
    font-weight: 200;
    color: white;
}

p a {
    text-decoration: none;
    font-weight: 500;
    color: yellow;
}

p a:hover {
    text-decoration: underline;
}